@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import "tailwindcss";

@import "./themes/design-a.css";

@font-face {
  font-family: "Alagard";
  src: url("@shared/assets/fonts/Alagard.ttf") format("truetype");
}

@font-face {
  font-family: "Alkhemikal";
  src: url("@shared/assets/fonts/Alkhemikal.ttf") format("truetype");
}

@theme {
  --font-alagard: "Alagard";
  --font-alkhemikal: "Alkhemikal";
  --font-fell: "IM Fell English";
  --font-spectral: "Spectral"
}

@layer components {
  .white-hard-border {
    filter: drop-shadow(1px 1px 0px white) drop-shadow(-1px 1px 0px white)
      drop-shadow(-1px -1px 0px white) drop-shadow(1px -1px 0px white);
  }
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes pink-rotate-text {
  0% {
    color: #e8e0ec;
  }
  100% {
    color: #f0a0c0;
  }
}

@keyframes hue-rotate-text {
  0% {
    color: red;
  }
  16% {
    color: orange;
  }
  32% {
    color: yellow;
  }
  48% {
    color: green;
  }
  64% {
    color: blue;
  }
  80% {
    color: purple;
  }
  100% {
    color: magenta;
  }
}

@keyframes pink-rotate-text {
  0% {
    color: white;
  }
  100% {
    color: #f495bf;
  }
}
